html {
  box-sizing: border-box;
}

*,
* ::before,
*::after {
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  touch-action: none;
}

h1 {
  font-weight: bold;
  color: black;
  height: 100px;
  font-size: 40pt;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  height: auto;
  border-spacing: 0px;
  border-collapse: initial;
  position: absolute;
}
.score-holder {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;
  height: 30px;
  background: aqua;
  font-size: 1rem;
  color: red;
  font-weight: bold;
  font-family: fantasy;
  border-bottom-left-radius: 10px;
  border: 1px solid red;
  border-bottom-right-radius: 10px;

  margin-left: 25px;
}
div#cover {
  position: none;
}

#player {
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  display: block;
  background-color: black;
  color: black;
  z-index: 10000;
  border-radius: 50px;
}

button {
  background-color: orange;
  color: black;
  font-size: 25px;
  border: 2px solid black;
  width: 300px;
  height: 150px;
  cursor: pointer;
}

section {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: grey;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: black;
  font-size: 15pt;
  height: 50px;
}

tr {
  border: none;
}

td {
  width: 25px;
  height: 35px;
  margin: 0px;
  border: none;
  padding: 0px;
}

#win {
  background-color: red;
  color: red;
}
#behindwin {
  background-color: rgb(255, 1, 1);
  color: rgb(255, 1, 1);
}
.wall {
  color: black;
  background-color: black;
}

.freespace {
  color: aqua;
  background-color: aqua;
}

#start {
  color: green;
  background-color: green;
}

.hide {
  display: none;
}

.restart-btn {
  margin-top: 80px;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 5px;
}
.lose-modal {
  background: black;
}

.rounded {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background: blue;
  z-index: 1000;
  cursor: pointer;
}
h4 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100000;
}

@media only screen and (max-width: 600px) {
  .rounded {
    width: 15px;
    height: 15px;
  }
}
